.source, .text {
  width: 95%;
  margin-bottom: 10px;
}
.thumb {
  max-height: 40px;
  max-width: 40px;
  vertical-align: middle;
  margin-bottom: 5px;
}
button.file {
  padding: 5px;
}
span.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
i.icon-comment, i.icon-file {
  margin-right: 10px;
}